# =========================
# LangChain Core
# =========================

langchain==0.3.7
langchain-community==0.3.5
langchain-huggingface==0.1.2
langchain-chroma==0.1.4
langchain-groq==0.2.1


# =========================
# Vector Database
# =========================

chromadb==0.5.20


# =========================
# Embeddings
# =========================

sentence-transformers==3.2.1


# =========================
# Document Processing
# =========================

pymupdf==1.24.13
docx2txt==0.8
python-docx==1.1.2


# =========================
# Environment
# =========================

python-dotenv==1.0.1


# =========================
# FastAPI Backend
# =========================

fastapi
uvicorn[standard]


# =========================
# Authentication
# =========================

email-validator
python-multipart
python-jose[cryptography]
passlib[bcrypt]


# =========================
# Database
# =========================

sqlalchemy